
.idea/
.vagrant/
cmake-build-debug/

cmake_install.cmake

CMakeFIles/

compile_commands.json

conan.cmake

conan.lock

conanbuildinfo.cmake

conanbuildinfo.txt

conanfile.txt

conaninfo.txt

myproject.cbp

Makefile

graph_info.json

CTestTestfile.cmake
